.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

.linked-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding-top: 1em;
}
/* 
.agreement-name {
  width: 20em;;
} */
  
.mat-mdc-dialog-content {
  max-height: 100%;
}
  
.mat-mdc-tab-body-content {
  overflow: visible;
}

.mat-mdc-tab-body-content {
  overflow: visible;
}

.mat-mdc-tab-body-active {
  overflow-y: visible;
}

.mat-mdc-tab-body.mat-mdc-tab-body-active {
  overflow-x: visible;
  overflow-y: visible;
}

