<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Contract Details">
      <div class="linked-fields">
        <!-- title -->
        <mat-form-field class="agreement-name">
          <mat-label>Agreement Name:</mat-label>
          <input matInput cdkFocusInitial [(ngModel)]="data.contract.title">
        </mat-form-field>

        <!-- clientref -->
        <mat-form-field class="agreement-name">
          <mat-label>Client Reference:</mat-label>
          <input matInput cdkFocusInitial [(ngModel)]="data.contract.clientref">
        </mat-form-field>

        <!-- startDate -->
        <mat-form-field appearance="fill">
            <mat-label>
              Date of Agreement
            </mat-label>
          <input matInput
            [matDatepicker]="startDatePicker" 
            [(ngModel)]="data.contract.startDate" 
            placeholder="{{ this.contract?.startDate }}"
          >
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
        </mat-form-field>

        <!-- settlement date -->
        <mat-form-field appearance="fill">
          <mat-label>
            Settlement Date
          </mat-label>
          <input matInput 
            [matDatepicker]="settlementDatePicker" 
            [(ngModel)]="data.contract.settlementDate" 
          > 
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="settlementDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #settlementDatePicker disabled="false"></mat-datepicker>
        </mat-form-field>

        <!-- vendor -->
        <mat-form-field>
          <mat-label>Vendor: </mat-label>
          <input matInput [(ngModel)]="data.contract.vendor">
        </mat-form-field>
  
        <!-- purchaser -->
        <mat-form-field>
          <mat-label>Purchaser: </mat-label>
          <input matInput [(ngModel)]="data.contract.purchaser">
        </mat-form-field>

        <!-- Conditions -->
        <!-- <button (click)="newCondition()" mat-button>
          <mat-icon>add</mat-icon>
        </button> 
        <app-condition-form [item]="currentItem" (newItemEvent)="addItem($event)"></app-condition-form>
        <ul>
          <li *ngFor="let item of items">{{item}}</li>
        </ul> -->
        
      </div>
      <app-condition-chips (newChipEvent)="updateConditions($event)" [conditions]="this.data.contract.conditionChips!"></app-condition-chips>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="{ contract: data.contract }">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    *ngIf="data.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ contract: data.contract, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>  
</mat-dialog-actions>
