<p>condition-form works!</p>

<mat-form-field class="agreement-name">
  <mat-label>Condition Type:</mat-label>
  <input matInput cdkFocusInitial> <!-- [(ngModel)]="data.contract.conditions" -->
</mat-form-field>

<!-- a test -->
<p>Today's item: {{item}}</p>

<label for="item-input">Condition type</label>
<input type="text" id="item-input" #newItem>
<button mat-button type="button" (click)="addNewItem(newItem.value)">Add to parent's list</button>

<!-- <mat-form-field appearance="fill">
  <mat-label>Condition Date</mat-label>
  <input matInput 
    [matDatepicker]="conditionDatePicker" 
  >
  <mat-hint>DD/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="conditionDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #conditionDatePicker></mat-datepicker>
</mat-form-field> -->