<p>condition-form works!</p>

<!-- <mat-form-field class="agreement-name">
  <mat-label>Condition Type:</mat-label>
  <input matInput cdkFocusInitial >
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Condition Date</mat-label>
  <input matInput 
    [matDatepicker]="conditionDatePicker" 
  >
  <mat-hint>DD/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="conditionDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #conditionDatePicker></mat-datepicker>
</mat-form-field> -->