<div class="container" *ngIf="authService.userData as user">
    <!-- <div class="buttons-row">
      <button (click)="newTask()" mat-button>
        <mat-icon>add</mat-icon> <span>Add Contract</span>
      </button>
      <button mat-button>
        <mat-icon>edit</mat-icon> <span>Edit Contract</span>
      </button>
    </div> -->
</div>
      

<div class="container-wrapper container" *ngIf="authService.userData as user">
  <!-- <div class="contract-container"> -->
    <!-- <h2>Tracked Contracts</h2> -->
    <app-search-bar (typeSearch)="updateSearchText($event)"></app-search-bar>
    
    <mat-card
      cdkDropList
      id="mycontracts"
      class="list contract-container"
      #mycontractsList="cdkDropList"
      [cdkDropListData]="mycontracts | async"
      [cdkDropListConnectedTo]="[]"
      (cdkDropListDropped)="drop($event)"
    >
      <p class="empty-label" *ngIf="((mycontracts | async)?.length === 0)">No contracts</p>
      <app-task cdkDrag (edit)="editTask('mycontracts', $event)" *ngFor="let contract of (mycontracts | async | searchpipe: searchText  )"  [contract]="contract" [compactView]="true"></app-task>
      <button (click)="newTask()" mat-button>
        <mat-icon>add</mat-icon>
        New Contract
      </button> 
    </mat-card>

  <!-- </div> -->
</div>

