    <!-- TODO: dblclick should only apply on edit contracts page -->
<mat-card class="item contract" 
    *ngIf="contract" 
    (dblclick)="edit.emit(contract)" 
    [ngStyle]="{'background-color': contract.color}"
>

  <!-- Settlement week view -->
  <!-- TODO: all date stuff should be collapsed onto calendar display -->
  
  <div *ngIf="settView">
    <h2>{{ contract.title }}</h2>
    <!-- <div class="pills">
      <p class="conditionality" *ngIf="(contract.conditional)">Conditional</p><p *ngIf="!(contract.conditional)">Unconditional</p>
    </div> -->
  </div>

  <!-- Compact view -->
  <div *ngIf="compactView" >
    <h2>{{ contract.title }} - {{ contract.clientref }}</h2>
    <!-- TODO: should show, conditionality, condition dates, settlement dates only.  -->
    <p *ngIf="contract.startDate">Agreement Date: {{ contract.startDate.seconds * 1000 | date:'mediumDate' }}</p>
    <p *ngIf="contract.settlementDate">Settlement: {{ contract.settlementDate.seconds * 1000 | date:'mediumDate' }}</p>
    <mat-chip-listbox>
      <mat-chip-row 
        *ngFor="let condition of this.contract.conditionChips">
        {{condition.name}}
      </mat-chip-row>
    </mat-chip-listbox>
  </div>

  <!-- Expanded view -->
  <!-- TODO: can probably discard/archive for now. -->
  <div *ngIf="exView">
    <h2>{{ contract.title }} - {{ contract.description }}</h2>
    <div class="pills">
      <p class="conditionality" *ngIf="(contract.conditional)">Conditional</p><p *ngIf="!(contract.conditional)">Unconditional</p>
    </div>
    <p *ngIf="(contract.conditional) === true">Conditional</p><p *ngIf="!(contract.conditional)">Unconditional</p>
    <p *ngIf="contract.startDate">Agreement Date: {{ contract.startDate.seconds * 1000 | date:'dd/MM/yyyy' }}</p>
    <p *ngIf="contract.settlementDate">Settlement: {{ contract.settlementDate.seconds * 1000 | date:'mediumDate' }}</p>
    <p *ngIf="!(contract.timeZoneOffset === undefined)">Time Zone Offset: {{ -(contract.timeZoneOffset/60) }}</p>
    <button mat-button (click)="edit.emit(contract)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <!-- TODO: keep progress bar, but maybe apply to conditions too? -->
  <mat-progress-bar mode="determinate" *ngIf="(contract.settlementDate && contract.startDate)" [value]="getprogress(contract)"></mat-progress-bar>  
</mat-card>