<!-- TODO: Turn this into a component or something -->
<mat-toolbar color="primary">
  <div class="col-sm d-flex align-items-center flex-row h-100">
    <mat-icon >business_center</mat-icon>
    <a class="app-title" href="#">Contract Tracker</a>
  </div>
  <div class="user-info-brief" *ngIf="authService.userData as user">
      <img class="img-thumbnail brief-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}">
      <a class="user-profile-link col-sm">{{ (user.displayName) ? user.displayName : 'User' }}</a>
  </div>
</mat-toolbar>

<div class="content-wrapper">
  <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel" *ngIf="authService.userData as user">
    <a 
      mat-tab-link 
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive"
    >{{link.label}}</a>

  </nav>

      <mat-tab-nav-panel #tabPanel class="current-tab">
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
</div> 

