.thisweek {
  background-color: rgb(239, 239, 239);
  padding: 0.5em;
}

.thismonth {
  background-color: rgb(239, 239, 239);
  padding: 0.5em;
}

.conditions {
}

.settlements {
}

.contract-cards{
    display: flex;

    flex-wrap: wrap;
    gap: 0.3em;
}

.general-view-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
}

.tall {
  height: 200em;
  width: 50em;
  background-color: aquamarine;
}