<div class="container">
  <div class="d-table center">
    <div class="d-table-cell grey">
      <div class="auth-block form-flex">
        <h3>Sign Up</h3>
        <div class="form-group">
          <input
            type="email"
            class="formControl"
            placeholder="Email Address"
            #userEmail
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPwd
            required
          />
        </div>
        <div class="form-group">
          <input
            type="button"
            class="btn btn-primary"
            value="Sign Up"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          />
        </div>
        <div class="form-group">
          <span class="or"><span class="or-inner">Or</span></span>
        </div>
        <!-- Continue with Google -->
        <div class="form-group">
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="authService.GoogleAuth()"
          >
            <i class="bi bi-google"> </i>
            Continue with Google
          </button>
        </div>
      </div>
      <br>
      <div class="redirect-to-login">
        <span
          >Already have an account?
          <a class="redirect" routerLink="/sign-in">Log In</a></span
        >
      </div>
    </div>
  </div>
</div>